<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Badr Eddine Sidia</h2>
            <h4>badreddine.sidia@polytechnicien.tn</h4>
        </div>
        <img src="assets/images/badr.jpg" alt="Badr Eddine Sidia">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/buys">Commands</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/produits">Produits</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/services">Services</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>